@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #000;
}

.image-slider{
    min-height: 30em;
    height: 100vh;
    position: relative;
    /* Background Image for the image slider */
    background-image: url(gallery/mountain.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
}

.image-slider *{
    box-sizing: border-box;
}

.caption{
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        #000
    );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4em 1em 2em 1em;
    text-align: center;
}

.caption h1{
    margin: 0;
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
}

.arrow-left,
.arrow-right{
    background: #FFFFFF;
    position: absolute;
    top: 40%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.arrow-left:hover,
.arrow-right:hover{
    background: #2696E9;
    color: #FFFFFF;
}

.arrow-left{
    left: 1em;
}

.arrow-right{
    right: 1em;
}

/* Class for Javascript Toggle */
.image-fade{
    animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade{
    0% {opacity: 0;}
    100%{opacity: 1;}
}